# This is a list of CODEOWNERS for this repository.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Global owner(s) for the repository
*                   @vanshika114

# Frontend 
/frontend/          @vanshika114

# GitHub Actions, Workflows and Issue Templates
/.github/           @vanshika114

# Security and Documentation
/SECURITY.md        @vanshika114
/README.md          @vanshika114
